{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">CONTENTS</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td> <a href="/articles/{{id}}">{{title}}</a> </td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<div class ="mb-5 container-fluid">
    <hr>
    <button type = "button" class="btn btn-primary" onClick="location.href='/articles/new'">New Article</button>
</div>


{{>layouts/footer}}
