{{>layouts/header}}
<!--부트스트랩에서 복사해온 표 테이블 붙여넣기-->
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">CONTENTS</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<!--Article을 사용할 구간을 나눠줘도 되지만. .을 사용해서 article의 데이터임을 명시해줘도 괜찮다.-->
<button type = "button" class="btn btn-primary" onClick="location.href='/articles/{{article.id}}/edit'">Edit</button>
<button type = "button" class="btn btn-primary" onClick="location.href='/articles'">Return to List</button>


{{>layouts/footer}}